@use 'variables' as *;

::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-main;
    background-color: $bg-color;
    color: $text-color;
    line-height: 1.6;
    overflow-x: hidden;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 $spacing-medium
}
